*{
    overflow-x: hidden;
}
body{
    font-family: FuraCode Nerd Font, -apple-system, "system-ui", BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, "sans-serif", Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 600 !important;
    max-width: 100vw;
    margin: 0;
    overflow: hidden;
    overflow-y: visible;
    
}
.logo{
    width: 20%;
    height: 50px;
    padding-left: 30px;
    overflow: hidden;
}
.logo-tesla{
    height: 4rem;
    width: 150px;
    margin: 0;
}
.nav-item{
    transition: background 0.3s linear;
}
.menu{
    width: 55px;
    padding-left: 8px;
    background-color: rgba(196, 202, 214, 0.637);
}
.nav-item:hover{
    background-color: rgba(196, 202, 214, 0.637);
}
.navigation{
    position: fixed;
    top: 0;
    right: 0;
    width: 322px;
    height: 100%;
    z-index: 1050;
    overflow-y: scroll;
    transform: translateX(100%);
    padding-left: 15px;
    background-color: white;
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75);
}
.menulist{
    padding-right: 3vw;
}
.navigation.is--active{
    transform: translateX(0);
}
.close-btn{
    margin-left: 80%;
    width: 40px;
    padding: 5px;
}
.navigation ul{
    list-style: none;
}
.language-selector{
    height: 52px;
    width: 170px;
    display: flex;
    padding: 4px;
    margin-bottom: 72px;
}
.language-details h6{
    padding: 0;
    margin: 0;
}
.language-details p:hover{
    text-decoration: underline;
}
.web-icon{
    margin-top: 4px;
}
.section{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% ;
    overflow: hidden;
}
.section-1{
    background-image: url("images/M3-Homepage-D.jpg");
}
.section-2{
    background-image: url("images/modelY.jpg");
}
.section-3{
    background-image: url("images/ModelS.jpg");
}
.section-4{
    background-image: url("images/ModelX.jpg");
}
.section-5{
    background-image: url("images/solar\ panels.jpg");
}
.section-6{
    background-image: url("images/solar\ roof.jpg");
}
.section-7{
    background-image: url("images/accessories.jpg");
}
.section-details{
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #1d1f20;
    font-weight: 900;
    overflow: hidden;
}
.section-title{
    margin-bottom: .5rem;
    font-weight: 640;
    font-size: 40px;
    overflow: hidden;
}
.arrow{
    padding-top: 90px;
}
.section-subtitle{
    font-size: small;
}

.section-subtitle a{
    color: inherit;
}
.section-subtitle a:hover{
    text-decoration: underline;
}
.btn{
    width: 257px;
    border-radius: 1.6rem;
    text-decoration: none;
    flex-basis: 80%;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.section-container{
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.footerlist{
    list-style: none;
}
.footerlist li{
    margin-left: 15px;
}
.blur-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    display: none;
}
.blur-overlay.is--active{
    display: block;
}
@media only screen and (max-width:600px){
    .section.section-1{
        background-image: url("images/m3\ small.jpg");
    }
    .section.section-2{
        background-image: url("images/my\ small.jpg");
    }
    .section.section-3{
        background-image: url("images/ms\ small.jpg");
    }
    .section.section-4{
        background-image: url("images/mx\ small.jpg");
    }
    .section.section-5{
        background-image: url("images/sp\ small.jpg");
    }
    .section.section-6{
        background-image: url("images/sr\ small.jpg");
    }
    .section.section-7{
        background-image: url("images/accessories\ small.jpg");
    }
    .section-details{
        top: 16%;
    }
    .section-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        top: 69vh;
    }
    .btn{
        margin-left: 0;
    }
    .arrow{
        padding-top: 22vh;
    }
    .footerlist li{
        font-size: small;
    }
    .fl{
        top: 58vh;
    }
}
.fl{
    margin-top: 18vh;
}
#fullpage.no-scroll {
    overflow-y: hidden;
    max-height: 100vh;
}
